.contact-list {
  z-index: 2;  
  position: absolute;
  top: 20px;
  right: 20px;
  border: solid 1px aliceblue;
  box-shadow: 1px 1px 1px 0px rgba(13,140,64,.5);
  width: 300px;
  margin: 20px;
  padding: 20px;
  list-style: none;
  background: white;
  opacity: 1;
}